<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net45" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Flurl" version="2.5.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net461" />
  <package id="Moq" version="4.7.142" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="protobuf-net" version="2.3.2" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net461" />
  <package id="toofz.NecroDancer.Leaderboards" version="17.0.0" targetFramework="net461" />
  <package id="toofz.SqlBulkUpsert" version="4.1.7" targetFramework="net45" />
  <package id="toofz.SteamKit2" version="4.0.2" targetFramework="net461" />
</packages>